NodeRed_AllFlows.json
[{"id":"f6bdb1f7.11dbc8","type":"tab","label":"SensorTag MQTT (lux)","disabled":true,"info":""},{"id":"474d515.56d32b","type":"tab","label":"Flow 1","disabled":true,"info":""},{"id":"27771573.97efca","type":"tab","label":"SensorTag II","disabled":true,"info":""},{"id":"9fcd8f49.7f66b","type":"tab","label":"Flow 4 2","disabled":true,"info":""},{"id":"7b4971a7.f07b78","type":"tab","label":"Flow 4","disabled":true,"info":""},{"id":"ff134930.51bd38","type":"tab","label":"Flow 2","disabled":true,"info":""},{"id":"97d4a6f.e5766d8","type":"tab","label":"Start Flow","disabled":true,"info":""},{"id":"5b1da52d.e247dc","type":"tab","label":"SensorTag","disabled":true,"info":""},{"id":"d1289288.4824a","type":"tab","label":"Flow 3","disabled":true,"info":""},{"id":"c778dfc9.71b0f","type":"tab","label":"Start Flow","disabled":true,"info":""},{"id":"4769d2ee.523bd4","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"2449ffce.2925d8","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":1},{"id":"dad4effb.f4eff","type":"ui_group","z":"","name":"Dashboard","tab":"2449ffce.2925d8","order":1,"disp":true,"width":"6","collapse":false},{"id":"ad7fa452.50e648","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"289ffe88.90a282","type":"mqtt-broker","z":"","name":"dietpi-1","broker":"192.168.51.20","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"7bcb9f83.6e04b","type":"inject","z":"474d515.56d32b","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":160,"y":160,"wires":[["7a8fbd27.885154"]]},{"id":"7a8fbd27.885154","type":"function","z":"474d515.56d32b","name":"Light Up Piglow","func":"var piGlow = context.global.piglow;\n\n\n//callback fires when board is initialized\npiGlow(function(error, pi) {\n    pi.random;\n});","outputs":1,"noerr":0,"x":380,"y":160,"wires":[[]]},{"id":"16b56090.68e11f","type":"inject","z":"ff134930.51bd38","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":220,"y":220,"wires":[["442c83a7.40a76c"]]},{"id":"442c83a7.40a76c","type":"function","z":"ff134930.51bd38","name":"Control Piglow","func":"var piGlow = context.global.piglow;\n\n\n//callback fires when board is initialized\npiGlow(function(error, pi) {\n    pi.colour(red,10)\n    //pi.red = 10\n   // pi.leg_0 = 10\n    //pi.leg_1 = 10\n   // pi.leg_2 = 10\n});\n\n\nreturn msg;","outputs":1,"noerr":0,"x":404,"y":220,"wires":[[]]},{"id":"8da064b2.53a998","type":"function","z":"ff134930.51bd38","name":"Shut Off Piglow","func":"var piGlow = context.global.piglow;\n\n\n//callback fires when board is initialized\npiGlow(function(error, pi) {\n    pi.reset\n    //pi.leg_0 = 0\n    //pi.leg_1 = 0\n    //pi.leg_2 = 0\n});\n\n\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":320,"wires":[[]]},{"id":"e1cdb4d7.f7b358","type":"inject","z":"ff134930.51bd38","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":200,"y":320,"wires":[["8da064b2.53a998"]]},{"id":"f6d828ac.898ec8","type":"inject","z":"c778dfc9.71b0f","name":"Voltage Sensor Simulator","topic":"","payload":"{ \"d\": { \"voltage\": 240, \"frequency\": 50 } }","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":"","x":172,"y":43,"wires":[["7e34551c.62767c"]]},{"id":"7e34551c.62767c","type":"function","z":"c778dfc9.71b0f","name":"Voltage data","func":"// initialise the counter to 0 if it doesn't exist already\nvar count = context.get('count')||0;\ncount += 1;\n// store the value back\ncontext.set('count',count);\n// make it part of the outgoing msg object\nmsg.payload.d.count = count;\nif(count % 100 <= 90) {\n    msg.payload.d.voltage = Math.floor(Math.random() * (240 - 220) + 220);\n} else {\n    msg.payload.d.voltage = Math.floor(Math.random() * (260 - 240) + 240);\n}\nmsg.payload.d.frequency = Math.floor(Math.random() * (80 - 60 + 1) + 60);\n//msg.payload = JSON.stringify(msg.payload)\nmsg.eventOrCommandType = \"voltage\"\nglobal.set('voltages',msg.payload.d.voltage);\nreturn msg;","outputs":1,"noerr":0,"x":162,"y":164,"wires":[["a6b573ba.3056e"]]},{"id":"a6b573ba.3056e","type":"function","z":"c778dfc9.71b0f","name":"zscore","func":"//initialize a list that stores the last n values for the electric current by using the voltage parameter. In stream computing, this list is called a \"sliding window of fixed size.\" \nvar aggwindow = context.get('aggwindow')||[];\n\n//add values to that lis\naggwindow.push(msg.payload.d.voltage); \n\n//Continue adding values to the list until we have exceeded 30 values, which defines the size of our sliding window. \nif (aggwindow.length> 30) {\n    \n    //To compute z-score, we need the mean and the standard deviation.\n    sum = aggwindow.reduce((a,b)=>a+b,0);\n    n = aggwindow.length;\n    mean = sum/n;\n    sd = Math.sqrt(aggwindow.map(x=>Math.pow(mean-x,2)).reduce((a,b)=>a+b,0));\n    \n    // get rid of the oldest element in the list, which resembles a LIFO. \n    aggwindow.shift();\n    \n    //Perform Z-Score Calculation. Add a small value to standard deviation because the standard deviation can become zero, which is mathematically undefined\n    msg.zscore = (mean-msg.payload.d.voltage)/(sd+0.0001)\n}\n\n//store this list to a global context to preserve it over individual message lifetimes\ncontext.set('aggwindow',aggwindow);\n\n\n//output voltage and zscore\nmsg.payload = {\n    [(\"voltage\")]:global.get(\"voltages\"),\n    [(\"zscore\")]:Math.abs(msg.zscore)\n    }\n\nreturn msg;","outputs":1,"noerr":0,"x":331,"y":164,"wires":[["75d05c95.0aa3b4"]]},{"id":"75d05c95.0aa3b4","type":"function","z":"c778dfc9.71b0f","name":"add timestamp","func":"msg.payload.time = new Date().getTime();\nreturn msg;","outputs":1,"noerr":0,"x":523,"y":163,"wires":[[]]},{"id":"fb58837a.e192a","type":"debug","z":"5b1da52d.e247dc","name":"","active":false,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","x":520,"y":100,"wires":[]},{"id":"bf14be49.e8789","type":"sensorTag","z":"5b1da52d.e247dc","name":"","topic":"sensorTag","uuid":"b827ebe79802","temperature":true,"humidity":true,"pressure":true,"magnetometer":true,"accelerometer":true,"gyroscope":true,"keys":false,"luxometer":true,"x":80,"y":100,"wires":[["fb58837a.e192a","3e2f3234.b24f5e"]]},{"id":"3e2f3234.b24f5e","type":"switch","z":"5b1da52d.e247dc","name":"sensorTag/luxometer ","property":"topic","propertyType":"msg","rules":[{"t":"cont","v":"luxometer","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":280,"y":200,"wires":[["63255906.a696a8","606dcab4.9cd504","3c6308bf.6e8a08"]]},{"id":"63255906.a696a8","type":"debug","z":"5b1da52d.e247dc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":540,"y":200,"wires":[]},{"id":"606dcab4.9cd504","type":"function","z":"5b1da52d.e247dc","name":"zscore","func":"//initialize a list that stores the last n values for the electric current by using the voltage parameter. In stream computing, this list is called a \"sliding window of fixed size.\" \nvar aggwindow = context.get('aggwindow')||[];\n\n//add values to that lis\naggwindow.push(msg.payload.lux); \n\n//Continue adding values to the list until we have exceeded 30 values, which defines the size of our sliding window. \nif (aggwindow.length> 30) {\n    \n    //To compute z-score, we need the mean and the standard deviation.\n    sum = aggwindow.reduce((a,b)=>a+b,0);\n    n = aggwindow.length;\n    mean = sum/n;\n    sd = Math.sqrt(aggwindow.map(x=>Math.pow(mean-x,2)).reduce((a,b)=>a+b,0));\n    \n    // get rid of the oldest element in the list, which resembles a LIFO. \n    aggwindow.shift();\n    \n    //Perform Z-Score Calculation. Add a small value to standard deviation because the standard deviation can become zero, which is mathematically undefined\n    msg.zscore = (mean-msg.payload.lux)/(sd+0.0001)\n}\n\n//store this list to a global context to preserve it over individual message lifetimes\ncontext.set('aggwindow',aggwindow);\n\n\n//output voltage and zscore\nmsg.payload = {\n    [(\"lux\")]:msg.payload.lux,\n    [(\"zscore\")]:Math.abs(msg.zscore)\n    }\n\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":300,"wires":[["5c382c83.f15d14"]]},{"id":"5c382c83.f15d14","type":"debug","z":"5b1da52d.e247dc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":680,"y":300,"wires":[]},{"id":"3c6308bf.6e8a08","type":"smooth","z":"5b1da52d.e247dc","name":"Lux Moving Mean","property":"payload.lux","action":"mean","count":"10","round":"","mult":"multi","x":530,"y":380,"wires":[["b13f1bf1.f6409","1248c825.23fc1"]]},{"id":"b13f1bf1.f6409","type":"debug","z":"5b1da52d.e247dc","name":"Lux Moving Mean Output","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":740,"y":380,"wires":[]},{"id":"51420e7f.2c41e8","type":"ui_gauge","z":"5b1da52d.e247dc","name":"","group":"dad4effb.f4eff","order":0,"width":0,"height":0,"gtype":"gage","title":"Gauge","label":"units","format":"{{value}}","min":0,"max":"1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":510,"y":560,"wires":[]},{"id":"5b946fe3.6d8898","type":"debug","z":"5b1da52d.e247dc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":710,"y":480,"wires":[]},{"id":"1248c825.23fc1","type":"function","z":"5b1da52d.e247dc","name":"","func":"var fields = {payload: msg.payload.lux};\nreturn fields;","outputs":1,"noerr":0,"x":550,"y":480,"wires":[["5b946fe3.6d8898","51420e7f.2c41e8"]]},{"id":"e5c8bb6f.7d3e08","type":"debug","z":"27771573.97efca","name":"","active":false,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","x":640,"y":60,"wires":[]},{"id":"83dc35f0.e688a8","type":"sensorTag","z":"27771573.97efca","name":"","topic":"sensorTag","uuid":"b827ebe79802","temperature":true,"humidity":true,"pressure":true,"magnetometer":false,"accelerometer":false,"gyroscope":false,"keys":false,"luxometer":true,"x":160,"y":80,"wires":[["e5c8bb6f.7d3e08","3e38fb3d.b7a724"]]},{"id":"3e38fb3d.b7a724","type":"switch","z":"27771573.97efca","name":"sensorTag/luxometer ","property":"topic","propertyType":"msg","rules":[{"t":"cont","v":"luxometer","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":220,"y":160,"wires":[["d6e8f6ba.544688","dae7990f.a017c8","34f14f90.d396b"]]},{"id":"d6e8f6ba.544688","type":"debug","z":"27771573.97efca","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":630,"y":120,"wires":[]},{"id":"dae7990f.a017c8","type":"function","z":"27771573.97efca","name":"zscore","func":"//initialize a list that stores the last n values for the electric current by using the voltage parameter. In stream computing, this list is called a \"sliding window of fixed size.\" \nvar aggwindow = context.get('aggwindow')||[];\n\n//add values to that lis\naggwindow.push(msg.payload.lux); \n\n//Continue adding values to the list until we have exceeded 30 values, which defines the size of our sliding window. \nif (aggwindow.length> 30) {\n    \n    //To compute z-score, we need the mean and the standard deviation.\n    sum = aggwindow.reduce((a,b)=>a+b,0);\n    n = aggwindow.length;\n    mean = sum/n;\n    sd = Math.sqrt(aggwindow.map(x=>Math.pow(mean-x,2)).reduce((a,b)=>a+b,0));\n    \n    // get rid of the oldest element in the list, which resembles a LIFO. \n    aggwindow.shift();\n    \n    //Perform Z-Score Calculation. Add a small value to standard deviation because the standard deviation can become zero, which is mathematically undefined\n    msg.zscore = (mean-msg.payload.lux)/(sd+0.0001)\n}\n\n//store this list to a global context to preserve it over individual message lifetimes\ncontext.set('aggwindow',aggwindow);\n\n\n//output voltage and zscore\nmsg.payload = {\n    [(\"lux\")]:msg.payload.lux,\n    [(\"zscore\")]:Math.abs(msg.zscore)\n    }\n\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":180,"wires":[["1b91c5d8.946b1a"]]},{"id":"1b91c5d8.946b1a","type":"debug","z":"27771573.97efca","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":630,"y":180,"wires":[]},{"id":"34f14f90.d396b","type":"smooth","z":"27771573.97efca","name":"Lux Moving Mean","property":"payload.lux","action":"mean","count":"10","round":"","mult":"multi","x":230,"y":300,"wires":[["c4b71f57.12834","1c503954.eac057","c0f6ede.97cda1"]]},{"id":"c4b71f57.12834","type":"debug","z":"27771573.97efca","name":"Lux Moving Mean Output","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":710,"y":260,"wires":[]},{"id":"bf6361f3.8e229","type":"debug","z":"27771573.97efca","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":870,"y":360,"wires":[]},{"id":"1c503954.eac057","type":"function","z":"27771573.97efca","name":"Lux (string to int)","func":"var fields = {payload: msg.payload.lux};\nreturn fields;","outputs":1,"noerr":0,"x":650,"y":360,"wires":[["bf6361f3.8e229"]]},{"id":"560b85c3.441cfc","type":"rpi-gpio out","z":"d1289288.4824a","name":"","pin":"37","set":true,"level":"0","freq":"","out":"out","x":350,"y":240,"wires":[]},{"id":"e97a7fd5.d1709","type":"inject","z":"d1289288.4824a","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":200,"wires":[["560b85c3.441cfc"]]},{"id":"a4bccfe3.ca53a","type":"inject","z":"d1289288.4824a","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":280,"wires":[["560b85c3.441cfc"]]},{"id":"bfd6f1d0.8bf3","type":"inject","z":"474d515.56d32b","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":80,"wires":[["bc770d55.14d99"]]},{"id":"bc770d55.14d99","type":"function","z":"474d515.56d32b","name":"PiGlow Rest","func":"var piGlow = context.global.piglow;\n\n\n//callback fires when board is initialized\npiGlow(function(error, pi) {\n    pi.reset\n    //pi.leg_0 = 0\n    //pi.leg_1 = 0\n    //pi.leg_2 = 0\n});\n\n\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":80,"wires":[[]]},{"id":"cfb7bdc6.9e357","type":"function","z":"474d515.56d32b","name":"","func":"var piGlow = context.global.piglow;\n\n\n//callback fires when board is initialized\npiGlow(function(error, pi) {\npi.ring_0 = 100\n});","outputs":1,"noerr":0,"x":370,"y":260,"wires":[[]]},{"id":"d818a71e.a7cb48","type":"inject","z":"474d515.56d32b","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":260,"wires":[["cfb7bdc6.9e357"]]},{"id":"7260fd7c.4e98f4","type":"function","z":"27771573.97efca","name":"GT or LT Logic","func":"var fields = {payload: msg.payload.lux};\n//return fields;\n\nif (fields > 40) {\n    msg.status = \"GT 40\"\n    msg.payload = fields\n    return msg;\n} else {\n    msg.status = \"LT 40\"\n    msg.payload = fields\n    return msg;\n}\nreturn null;\n\n//if (Number(msg.lux >= 40)) {\n//    msg.payload = \"GTE 40\"\n//    return msg;\n//} else {\n//    msg.payload = \"LT 40\"\n//    return msg;\n//}\n//return null;","outputs":1,"noerr":0,"x":300,"y":500,"wires":[["13060364.0b2dbd"]]},{"id":"13060364.0b2dbd","type":"debug","z":"27771573.97efca","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":530,"y":500,"wires":[]},{"id":"8813befe.509498","type":"mqtt in","z":"7b4971a7.f07b78","name":"","topic":"sensors/#","qos":"2","broker":"ad7fa452.50e648","x":240,"y":200,"wires":[["c3e0cdc6.8728d8","39abc71c.c6204"]]},{"id":"c3e0cdc6.8728d8","type":"debug","z":"7b4971a7.f07b78","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":490,"y":180,"wires":[]},{"id":"bb0df06f.99676","type":"mqtt out","z":"7b4971a7.f07b78","name":"","topic":"sensors/livingroom/temp","qos":"","retain":"false","broker":"ad7fa452.50e648","x":310,"y":120,"wires":[]},{"id":"9cec8426.545bb","type":"inject","z":"7b4971a7.f07b78","name":"temp json","topic":"","payload":"{\"sensor_id\":1234,\"temperature\":13}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":"","x":120,"y":120,"wires":[["bb0df06f.99676"]]},{"id":"83e942c5.aa59f","type":"function","z":"7b4971a7.f07b78","name":"FoundTemp","func":"if (Number(msg.payload.temperature == 13)) {\n    msg.payload = \"Found it!\"\n    return msg;\n} else {\n    msg.payload = \"Did Not Find it!\"\n    return msg;\n}\nreturn null;","outputs":1,"noerr":0,"x":550,"y":280,"wires":[["2b304fdb.36f2e"]]},{"id":"2b304fdb.36f2e","type":"debug","z":"7b4971a7.f07b78","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":770,"y":280,"wires":[]},{"id":"8c605649.fc21e","type":"inject","z":"97d4a6f.e5766d8","name":"Voltage Sensor Simulator","topic":"","payload":"{ \"d\": { \"voltage\": 240, \"frequency\": 50 } }","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":"","x":172,"y":43,"wires":[["5e346019.317c3"]]},{"id":"5e346019.317c3","type":"function","z":"97d4a6f.e5766d8","name":"Voltage data","func":"// initialise the counter to 0 if it doesn't exist already\nvar count = context.get('count')||0;\ncount += 1;\n// store the value back\ncontext.set('count',count);\n// make it part of the outgoing msg object\nmsg.payload.d.count = count;\nif(count % 100 <= 90) {\n    msg.payload.d.voltage = Math.floor(Math.random() * (240 - 220) + 220);\n} else {\n    msg.payload.d.voltage = Math.floor(Math.random() * (260 - 240) + 240);\n}\nmsg.payload.d.frequency = Math.floor(Math.random() * (80 - 60 + 1) + 60);\n//msg.payload = JSON.stringify(msg.payload)\nmsg.eventOrCommandType = \"voltage\"\nglobal.set('voltages',msg.payload.d.voltage);\nreturn msg;","outputs":1,"noerr":0,"x":162,"y":164,"wires":[["edcd4bc9.910528"]]},{"id":"edcd4bc9.910528","type":"function","z":"97d4a6f.e5766d8","name":"zscore","func":"//initialize a list that stores the last n values for the electric current by using the voltage parameter. In stream computing, this list is called a \"sliding window of fixed size.\" \nvar aggwindow = context.get('aggwindow')||[];\n\n//add values to that lis\naggwindow.push(msg.payload.d.voltage); \n\n//Continue adding values to the list until we have exceeded 30 values, which defines the size of our sliding window. \nif (aggwindow.length> 30) {\n    \n    //To compute z-score, we need the mean and the standard deviation.\n    sum = aggwindow.reduce((a,b)=>a+b,0);\n    n = aggwindow.length;\n    mean = sum/n;\n    sd = Math.sqrt(aggwindow.map(x=>Math.pow(mean-x,2)).reduce((a,b)=>a+b,0));\n    \n    // get rid of the oldest element in the list, which resembles a LIFO. \n    aggwindow.shift();\n    \n    //Perform Z-Score Calculation. Add a small value to standard deviation because the standard deviation can become zero, which is mathematically undefined\n    msg.zscore = (mean-msg.payload.d.voltage)/(sd+0.0001)\n}\n\n//store this list to a global context to preserve it over individual message lifetimes\ncontext.set('aggwindow',aggwindow);\n\n\n//output voltage and zscore\nmsg.payload = {\n    [(\"voltage\")]:global.get(\"voltages\"),\n    [(\"zscore\")]:Math.abs(msg.zscore)\n    }\n\nreturn msg;","outputs":1,"noerr":0,"x":331,"y":164,"wires":[["80f7db78.918b5"]]},{"id":"80f7db78.918b5","type":"function","z":"97d4a6f.e5766d8","name":"add timestamp","func":"msg.payload.time = new Date().getTime();\nreturn msg;","outputs":1,"noerr":0,"x":523,"y":163,"wires":[[]]},{"id":"39abc71c.c6204","type":"json","z":"7b4971a7.f07b78","name":"","property":"payload","action":"obj","pretty":false,"x":370,"y":280,"wires":[["83e942c5.aa59f","91d24dc5.44f858"]]},{"id":"91d24dc5.44f858","type":"debug","z":"7b4971a7.f07b78","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":540,"y":240,"wires":[]},{"id":"c0f6ede.97cda1","type":"json","z":"27771573.97efca","name":"","property":"payload","action":"obj","pretty":false,"x":210,"y":420,"wires":[["7260fd7c.4e98f4","84f6932.f32edf","87958093.9ea618"]]},{"id":"ee25d355.dd0a1","type":"mqtt in","z":"9fcd8f49.7f66b","name":"","topic":"sensors/#","qos":"2","broker":"ad7fa452.50e648","x":240,"y":200,"wires":[["62a6b53a.120ef4","ef615260.3e0a8"]]},{"id":"62a6b53a.120ef4","type":"debug","z":"9fcd8f49.7f66b","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":490,"y":180,"wires":[]},{"id":"7e3acab.e53d434","type":"mqtt out","z":"9fcd8f49.7f66b","name":"","topic":"sensors/livingroom/temp","qos":"","retain":"false","broker":"ad7fa452.50e648","x":310,"y":120,"wires":[]},{"id":"f8f0f09a.947f3","type":"inject","z":"9fcd8f49.7f66b","name":"temp json","topic":"","payload":"{\"lux\":13}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":"","x":120,"y":120,"wires":[["7e3acab.e53d434"]]},{"id":"a5e27872.facb3","type":"function","z":"9fcd8f49.7f66b","name":"FoundTemp","func":"if (Number(msg.payload.lux == 13)) {\n    msg.payload = \"Found it!\"\n    return msg;\n} else {\n    msg.payload = \"Did Not Find it!\"\n    return msg;\n}\nreturn null;","outputs":1,"noerr":0,"x":550,"y":280,"wires":[["6f140343.00d1a4"]]},{"id":"6f140343.00d1a4","type":"debug","z":"9fcd8f49.7f66b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":770,"y":280,"wires":[]},{"id":"ef615260.3e0a8","type":"json","z":"9fcd8f49.7f66b","name":"","property":"payload","action":"obj","pretty":false,"x":370,"y":280,"wires":[["a5e27872.facb3","1dc06428.04f164"]]},{"id":"1dc06428.04f164","type":"debug","z":"9fcd8f49.7f66b","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":540,"y":240,"wires":[]},{"id":"84f6932.f32edf","type":"debug","z":"27771573.97efca","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":430,"y":420,"wires":[]},{"id":"87958093.9ea618","type":"switch","z":"27771573.97efca","name":"Lux Switch","property":"payload.lux","propertyType":"msg","rules":[{"t":"gte","v":"60","vt":"str"},{"t":"lt","v":"60","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":360,"y":600,"wires":[["6decc1ea.424568"],[]]},{"id":"6decc1ea.424568","type":"function","z":"27771573.97efca","name":"Control Piglow","func":"var piGlow = context.global.piglow;\n\n\n//callback fires when board is initialized\npiGlow(function(error, pi) {\n    pi.colour(red,10)\n    //pi.red = 10\n   // pi.leg_0 = 10\n    //pi.leg_1 = 10\n   // pi.leg_2 = 10\n});\n\n\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":580,"wires":[[]]},{"id":"159cbb41.cf4d5d","type":"mqtt in","z":"f6bdb1f7.11dbc8","name":"dietpi-1 mqtt lux","topic":"cc2650/temp/546c0e531e46/lux","qos":"0","broker":"289ffe88.90a282","x":100,"y":120,"wires":[["90bf1821.327478","e2cfabbd.b3b738"]]},{"id":"96f2c016.bf7e8","type":"debug","z":"f6bdb1f7.11dbc8","name":"GTE 90 ALARM","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":720,"y":100,"wires":[]},{"id":"2f45df1a.d12b3","type":"switch","z":"f6bdb1f7.11dbc8","name":"GTE LT","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"90","vt":"str"},{"t":"btwn","v":"76","vt":"num","v2":"89","v2t":"num"},{"t":"lt","v":"76","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":540,"y":300,"wires":[["96f2c016.bf7e8","79965ea.b5f7ca"],[],["ac2066a4.81d35","8ef94dd1.9e3b9"]]},{"id":"ac2066a4.81d35","type":"debug","z":"f6bdb1f7.11dbc8","name":"LT 75 STEADY STATE","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":780,"y":400,"wires":[]},{"id":"90bf1821.327478","type":"debug","z":"f6bdb1f7.11dbc8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":370,"y":120,"wires":[]},{"id":"866b9c1a.d4fa38","type":"function","z":"f6bdb1f7.11dbc8","name":"","func":"\nvar fields = {payload: msg.payload};\nreturn fields;","outputs":1,"noerr":0,"x":380,"y":260,"wires":[["2f45df1a.d12b3"]]},{"id":"e2cfabbd.b3b738","type":"json","z":"f6bdb1f7.11dbc8","name":"","property":"payload","action":"obj","pretty":false,"x":240,"y":260,"wires":[["866b9c1a.d4fa38"]]},{"id":"79965ea.b5f7ca","type":"function","z":"f6bdb1f7.11dbc8","name":"Alarm RED","func":"var piGlow = context.global.piglow;\n\n\n//callback fires when board is initialized\npiGlow(function(error, pi) {\n    piglow.red(20)\n});","outputs":1,"noerr":0,"x":710,"y":160,"wires":[[]]},{"id":"8ef94dd1.9e3b9","type":"function","z":"f6bdb1f7.11dbc8","name":"STEADY STATE GREEN","func":"var piGlow = context.global.piglow;\n\n\n//callback fires when board is initialized\npiGlow(function(error, pi) {\n    piglow.green(10)\n});\n\n\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":440,"wires":[[]]}]
